<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="IntegrationHelper\IntegrationVersion\Repository\IntegrationVersionRepositoryInterface"
                type="IntegrationHelper\IntegrationVersionMagento\Model\IntegrationVersionRepository" />

    <preference for="IntegrationHelper\IntegrationVersion\Repository\IntegrationVersionItemRepositoryInterface"
                type="IntegrationHelper\IntegrationVersionMagento\Model\IntegrationVersionItemRepository" />

    <preference for="IntegrationHelper\IntegrationVersion\Model\IntegrationVersionItemInterface"
                type="IntegrationHelper\IntegrationVersionMagento\Model\IntegrationVersionItem" />
    <preference for="IntegrationHelper\IntegrationVersion\Model\IntegrationVersionInterface"
                type="IntegrationHelper\IntegrationVersionMagento\Model\IntegrationVersion" />

    <type name="IntegrationHelper\IntegrationVersionMagento\ContextInit">
        <arguments>
            <argument name="getterParentItemCollection" xsi:type="object">IntegrationHelper\IntegrationVersion\GetterParentItemCollectionInterface</argument>
            <argument name="integrationVersionItemRepository" xsi:type="object">IntegrationHelper\IntegrationVersion\Repository\IntegrationVersionItemRepositoryInterface</argument>
            <argument name="integrationVersionRepository" xsi:type="object">IntegrationHelper\IntegrationVersion\Repository\IntegrationVersionRepositoryInterface</argument>
            <argument name="dateTime" xsi:type="object">IntegrationHelper\IntegrationVersion\DateTimeInterface</argument>
            <argument name="hashGenerator" xsi:type="object">IntegrationHelper\IntegrationVersion\HashGeneratorInterface</argument>
            <argument name="integrationVersionManager" xsi:type="object">IntegrationHelper\IntegrationVersion\IntegrationVersionManagerInterface</argument>
            <argument name="integrationVersionItemManager" xsi:type="object">IntegrationHelper\IntegrationVersion\IntegrationVersionItemManagerInterface</argument>
        </arguments>
    </type>
</config>
