<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="IntegrationHelper\IntegrationVersion\Repository\IntegrationVersionRepositoryInterface"
                type="IntegrationHelper\IntegrationVersionMagento\Model\IntegrationVersionRepository" />

    <preference for="IntegrationHelper\IntegrationVersion\Repository\IntegrationVersionItemRepositoryInterface"
                type="IntegrationHelper\IntegrationVersionMagento\Model\IntegrationVersionItemRepository" />

    <preference for="IntegrationHelper\IntegrationVersion\Model\IntegrationVersionItemInterface"
                type="IntegrationHelper\IntegrationVersionMagento\Model\IntegrationVersionItem" />
    <preference for="IntegrationHelper\IntegrationVersion\Model\IntegrationVersionInterface"
                type="IntegrationHelper\IntegrationVersionMagento\Model\IntegrationVersion" />

    <preference for="IntegrationHelper\IntegrationVersion\GetterParentItemCollectionInterface"
                type="IntegrationHelper\IntegrationVersionMagento\Model\GetterParentItemCollection" />

    <preference for="IntegrationHelper\IntegrationVersion\DateTimeInterface"
                type="IntegrationHelper\IntegrationVersionMagento\Model\DateTime" />

    <preference for="IntegrationHelper\IntegrationVersion\HashGeneratorInterface"
                type="IntegrationHelper\IntegrationVersion\HashGenerator" />

    <preference for="IntegrationHelper\IntegrationVersion\IntegrationVersionManagerInterface"
                type="IntegrationHelper\IntegrationVersion\IntegrationVersionManager" />

    <preference for="IntegrationHelper\IntegrationVersion\IntegrationVersionItemManagerInterface"
                type="IntegrationHelper\IntegrationVersion\IntegrationVersionItemManager" />

    <type name="IntegrationHelper\IntegrationVersionMagento\ContextInit">
        <arguments>
            <argument name="getterParentItemCollection" xsi:type="object">IntegrationHelper\IntegrationVersionMagento\Model\GetterParentItemCollection</argument>
            <argument name="integrationVersionItemRepository" xsi:type="object">IntegrationHelper\IntegrationVersionMagento\Model\IntegrationVersionItemRepository</argument>
            <argument name="integrationVersionRepository" xsi:type="object">IntegrationHelper\IntegrationVersionMagento\Model\IntegrationVersionRepository</argument>
            <argument name="dateTime" xsi:type="object">IntegrationHelper\IntegrationVersionMagento\Model\DateTime</argument>
            <argument name="hashGenerator" xsi:type="object">IntegrationHelper\IntegrationVersion\HashGenerator</argument>
            <argument name="integrationVersionManager" xsi:type="object">IntegrationHelper\IntegrationVersion\IntegrationVersionManager</argument>
            <argument name="integrationVersionItemManager" xsi:type="object">IntegrationHelper\IntegrationVersion\IntegrationVersionItemManager</argument>
        </arguments>
    </type>
</config>
